body {
  margin: 0px;
  overflow-x: hidden;
}

/** Main  **/
#flexbox {
  display:flex;
  flex:row;
}

/*Left section */
#flex-left {
  width: 47%;
  height: 100vh;
  align-content: center;
}

#flex-left #main_image {
  width: 50%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#flex-left p {
  font-size: 128px;
  color: white;
  position: fixed;
}

#flex-spacer {
  width: 40%;
} 

/*Marginal left content */
#portal {
  width:91px;
  height:162px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#title {
  margin:10% 10% 10% 25%;
  transform: translateX(-50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Right Section */
#flex-right {
  width: 53%;
  position: relative;
  margin: 0 30px 0 0;

}

/* Marginal right content */

.titles {
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px 10% 0px 10%;
}

.body {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin: 0px 10% 0px 10%;
  text-indent: 30px;
}
/*------------------*/

.image_link {
  margin: 0px 0px 0px 0px;
  width: 428px;
  border-radius: 40px
}

li {
  margin: 0px 0px 0px 40%;
  list-style-type: square;
  font-size: 12px;
}

.images_container {
  display: flex;
  margin: 42px 10% 64px 10%;
}

figure {
  display: flex;
}

#icon {
  width:30%;
  margin: auto;
}

.menu {
  visibility: hidden;
}

.menu-active {
  visibility: visible;
}
